@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

html {
  background-color: hsl(0, 0%, 100%);
}

body,
input,
textarea,
button {
  font-family: "League Spartan", sans-serif;
}

.description, .about .about-information .furniture-description, main .intro .job-description {
  line-height: 1.3;
  color: hsl(0, 0%, 63%);
  font-weight: 500;
  margin-block: 1em 2em;
}

.intro,
.about {
  width: calc(100% - 3rem);
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  padding: 1.5em;
  z-index: 999;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .menu-bar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
header nav .menu-bar .bar {
  background-color: #000;
  width: 25px;
  height: 3px;
  border-radius: 4px;
  transition: all 0.4s;
}
header nav .menu-bar .bar:nth-child(1) {
  width: 12.5px;
}
header nav .menu-bar .bar:nth-child(3) {
  width: 12.5px;
  align-self: flex-end;
}
header nav .menu-bar.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  width: 100%;
}
header nav .menu-bar.active .bar:nth-child(2) {
  opacity: 0;
}
header nav .menu-bar.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  width: 100%;
}
header nav .logo {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}
header nav .logo h1 {
  color: hsl(0, 0%, 100%);
}
header nav .nav-lists {
  display: none;
  gap: 25px;
}
header nav .nav-lists li {
  list-style: none;
}
header nav .nav-lists li a {
  font-weight: 500;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}
header nav .nav-lists.open-nav-list {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

main {
  margin-block-end: 50px;
}
main .hero {
  position: relative;
  margin-block-end: 50px;
}
main .hero .arrow-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: hsl(0, 0%, 0%);
  padding: 1em;
}
main .hero .arrow-buttons img {
  width: 8px;
  transition: all 0.4s;
  cursor: pointer;
}
main .hero .arrow-buttons img:hover {
  opacity: 0.6;
}
main .intro .headline {
  font-size: clamp(2rem, 1.7273rem + 1.4545vw, 3rem);
  font-weight: 700;
  color: hsl(0, 0%, 0%);
  letter-spacing: -1px;
}
main .intro h2 {
  letter-spacing: 10px;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}
main .intro h2 span {
  cursor: pointer;
  transition: all 0.4s;
}
main .intro h2 span:hover {
  transform: translateX(10px);
}

.about .about-information .tagline {
  color: hsl(0, 0%, 0%);
  font-size: clamp(0.8rem, 0.6091rem + 1.0182vw, 1rem);
  font-weight: 700;
  text-transform: uppercase;
  margin-block-start: 50px;
  letter-spacing: 4px;
}
.attribution {
  margin-block-start: 10px;
  font-size: 0.65rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  .intro,
  .about {
    width: 100%;
  }
  header {
    padding: 2.5em;
  }
  header nav {
    gap: 50px;
  }
  header nav .menu-bar {
    display: none;
  }
  header nav .logo {
    flex: 0;
  }
  header nav .nav-lists {
    display: flex;
  }
  header nav .nav-lists li a {
    color: hsl(0, 0%, 100%);
    padding-bottom: 5px;
    transition: all 0.4s;
  }
  header nav .nav-lists li a:hover {
    opacity: 0.7;
    border-bottom: 2px solid hsl(0, 0%, 100%);
  }
  main {
    position: relative;
    display: flex;
    margin-block-end: 0;
  }
  main .hero-section {
    width: 55%;
  }
  main .hero-section .hero {
    margin-block-end: 0;
  }
  main .hero-section .hero .arrow-buttons {
    width: 150px;
    right: -150px;
    gap: 20px;
    justify-content: space-evenly;
    padding: 1em 0;
  }
  main .hero-section .hero .arrow-buttons img {
    width: 15px;
  }
  main .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin: 0 auto;
  }
  main .intro .headline {
    line-height: 1;
  }
  main .intro .job-description {
    margin-block-end: 1em;
  }
  .about {
    display: flex;
    align-items: center;
  }
  .about .images {
    width: 30%;
  }
  .about .images img {
    width: 100%;
    height: auto;
  }
  .about .about-information {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-inline: 3em;
    gap: 10px;
  }
  .about .about-information .tagline {
    letter-spacing: 8px;
    margin-block-start: 0;
  }
  .about .about-information .furniture-description {
    letter-spacing: -0.5px;
    line-height: 1.4;
    font-size: 0.9rem;
    margin-block: 0;
  }
}/*# sourceMappingURL=style.css.map */